# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# environments
env/
venv/
.env

# notebook checkpoints
.ipynb_checkpoints
*.ipynb_checkpoints

# data & outputs
data/
runs/
checkpoints/
*.pt
*.pth
*.npy

# OS
.DS_Store
.vscode/
.idea/

# Logs
/logs/
/logs/*
/model_state_dict_logs/

# Temporary data files
artifacts/
